.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    color: var(--secondary-text-color);
  }